<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS --->
    <link
            rel="stylesheet"
            href="../../assets/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link href="../../assets/vendor/fonts/circular-std/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../assets/libs/css/style.css"/>
    <link
            rel="stylesheet"
            href="../../assets/vendor/fonts/fontawesome/css/fontawesome-all.css"
    />
    <link
            rel="stylesheet"
            href="../../assets/vendor/charts/chartist-bundle/chartist.css"
    />
    <link
            rel="stylesheet"
            href="../../assets/vendor/charts/morris-bundle/morris.css"
    />
    <link
            rel="stylesheet"
            href="../../assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="../../assets/vendor/charts/c3charts/c3.css"/>
    <link
            rel="stylesheet"
            href="../../assets/vendor/fonts/flag-icon-css/flag-icon.min.css"
    />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>


    <title>Create User</title>
</head>
<body>
<div class="dashboard-main-wrapper">

    <!--Navigation bar-->
    <!-- ============================================================== -->
    <div id="nav-placeholder">

    </div>

    <script>
        $(function () {
            $("#nav-placeholder").load("../components/nav-bar.html");
        });
    </script>
    <!-- ============================================================== -->
    <!--end of Navigation bar-->
    <!-- ============================================================== -->


    <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader-->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">User Create</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Administration</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">User Create</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->


            <!-- ============================================================== -->
            <!-- Create User Form-->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <form class="needs-validation" novalidate="">
                            <div class="form-row">
                                <div class="col">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" placeholder="First name">
                                </div>
                                <div class="col">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" placeholder="Last name">
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label for="inputPhone">Mobile Number</label>
                                    <input id="inputPhone" type="email" placeholder="Mobile Number"
                                           class="form-control">
                                </div>
                                <div class="col">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>Role</label>
                                    <select class="custom-select" name="role">
                                        <option value="Select Role" selected="selected" disabled="disabled">Select
                                            Role
                                        </option>
                                        <option value="Admin">Admin</option>
                                        <option value="Manager">Manager</option>
                                        <option value="Employee">Employee</option>
                                    </select>
                                </div>
                                <div class="col"></div>
                            </div>
                            <label>Gender</label>
                            <div class="col-sm-10">

                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" name="radio-inline"
                                           class="custom-control-input"><span
                                        class="custom-control-label">Male</span>
                                </label>
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" name="radio-inline"
                                           class="custom-control-input"><span
                                        class="custom-control-label">Female</span>
                                </label>
                            </div>

                            <div class="form-row">
                                <div class="col">
                                    <label for="inputEmail">Email address</label>
                                    <input id="inputEmail" type="email" placeholder="name@example.com"
                                           class="form-control">
                                </div>
                                <div class="col"></div>
                            </div>

                            <div class="form-row">
                                <div class="col">
                                    <label for="inputPassword">Password</label>
                                    <input id="inputPassword" type="password" placeholder="Password"
                                           class="form-control">
                                </div>
                                <div class="col"></div>
                            </div>

                            <div class="form-row">
                                <div class="col">
                                    <label for="inputPassword">Password Confirmation</label>
                                    <input id="confirmPassword" type="password" placeholder="Re-enter Password"
                                           class="form-control"><br>
                                </div>
                                <div class="col"></div>
                            </div>


                            <div class="col-sm-6 pl-0">
                                <p class="text-right" style="float: right">
                                    <button type="submit" style="background-color:#038FF5"
                                            class="btn btn-space btn-primary">
                                        Save
                                    </button>
                                </p>
                            </div>
                        </form>
                    </div>

                    <!-- ============================================================== -->
                    <!-- end validation form -->
                    <!-- ============================================================== -->

                    <!-- ============================================================== -->
                    <!--Table -->
                    <!-- ============================================================== -->

                    <div class="card">
                        <h3 class="card-header">User List</h3>
                        <div class="card-body">
                            <table class="table table-striped" width="150">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">E-Mail(username)</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>John Kesy</td>
                                    <td>johnk@gmail.com</td>
                                    <td>Male</td>
                                    <td>(571)111-2222</td>
                                    <td>Admin</td>
                                    <td>
                                        <p class="text">
                                            <button type="submit" class="btn btn-space btn-primary"
                                                    style="background-color:#1F618D">Update
                                            </button>
                                            <button class="btn btn-space btn-secondary"
                                                    style="background-color:#C42828">Delete
                                            </button>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>John Kesy</td>
                                    <td>johnk@gmail.com</td>
                                    <td>Male</td>
                                    <td>(571)111-2222</td>
                                    <td>Admin</td>
                                    <td>
                                        <p class="text">
                                            <button type="submit" class="btn btn-space btn-primary"
                                                    style="background-color:#1f618d">Update
                                            </button>
                                            <button class="btn btn-space btn-secondary"
                                                    style="background-color:#c42828">Delete
                                            </button>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>John Kesy</td>
                                    <td>johnk@gmail.com</td>
                                    <td>Male</td>
                                    <td>(571)111-2222</td>
                                    <td>Admin</td>
                                    <td>
                                        <p class="text">
                                            <button type="submit" class="btn btn-space btn-primary"
                                                    style="background-color:#1F618D">Update
                                            </button>
                                            <button class="btn btn-space btn-secondary"
                                                    style="background-color:#C42828">Delete
                                            </button>
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Table -->
                    <!-- ============================================================== -->

                </div>
            </div>


        </div>

    </div>
</div>
<!-- ============================================================== -->
<!-- =================Footer==================== -->
<div style="text-align: -webkit-center" id="footer">
</div>
<script>
    $(function () {
        $("#footer").load("../components/footer.html");
    });
</script>


<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->
<script src="../../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- bootstap bundle js -->
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<!-- slimscroll js -->
<script src="../../assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- main js -->
<script src="../../assets/libs/js/main-js.js"></script>
<!-- chart chartist js -->
<script src="../../assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
<!-- sparkline js -->
<script src="../../assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
<!-- morris js -->
<script src="../../assets/vendor/charts/morris-bundle/raphael.min.js"></script>
<script src="../../assets/vendor/charts/morris-bundle/morris.js"></script>
<!-- chart c3 js -->
<script src="../../assets/vendor/charts/c3charts/c3.min.js"></script>
<script src="../../assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
<script src="../../assets/vendor/charts/c3charts/C3chartjs.js"></script>
<script src="../../assets/libs/js/dashboard-ecommerce.js"></script>
<!-- My script for icons -->
<script src="https://kit.fontawesome.com/486587c22a.js" crossorigin="anonymous"></script>
</body>
</html>